/*-------BASE-------*/

body {
    margin: 0;
    padding: 0;
}

header{

    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    height: 66px;
    justify-content: space-around;
    background-color: white;
}

/*-------MENU-------*/

a {
    text-decoration: none;
    color: #514D1A;
    font-family: 'Waseem';
    padding: 8px;
}

nav ul { 
    list-style: none;
}

#myLinks{
    display: none;
    padding-top: 10px;
}

.bars{
    margin-top: 23px;
}

/*-------LOGO-------*/

.logo {
   max-height: 60px;
   margin-bottom: 6px;
}

/*-------ICONES-------*/

.btnmenu{
    margin-top: 23px;
}

.search
{
   color:#514D1A;
   margin-top: 24px;
}
.compte
{
    color:#514D1A;
}


/*-------SLIDES-------*/
    .slide1 {
        width: 100%;
    }
    .slide2 {
        width: 100%;
    }
    .slide3 {
        width: 100%;
    }

/*-------Offres du moment-------*/

.fond {
    background-color: #E3DFD9;
}

.button {
    background-color: #789264;
    border: none;
    color: white;
    padding: 14px 49px 15px 39px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 30%;
    margin-bottom: 20px;
  }

  p{
      font-family: 'Waseem';
      font-size: 2em;
      text-align: center;
      color: #789264;
      padding-top: 19px;
    }

    .texteoffre {
        margin-top: 6px;
    }

    /*-------idees et conseils-------*/

    .ensemble {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image : url("media/conseils.jpg");
        opacity:0.75;
    }

    .conseils {
        width: 100%;
        margin-top: 10px;
    }

    .ideesconseilstexte {
        z-index: 1;
    }

    #sous-texte {
        color: #514D1A;
        font-weight: bold;
    }

    .buttonsavoirplus {
        background-color: #789264;
        border: none;
        color: white;
        padding: 14px 34px 15px 37px;
        display: inline-block;
        cursor: pointer;
        margin-left: 33px;
        margin-bottom: 20px;
        opacity: 1 !important;
    }

    /*-------les 3 derniers articles-------*/
    .card {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin-bottom: 20px;
      }

      h1{
          color: #E3DFD9;
          font-size: 20px;
      }
      
      .title {
        color: #789264;
        font-size: 18px;
     
      }

      .contenu_rubrique_ala1 {
          font-size: 1em;
          color: black;
          margin-top: -21px;
          font-family: "system-ui";
          font-size: 14px;
      }
      
      button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #789264;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      

      button:hover, a:hover {
        opacity: 0.7;
      }
    
